In [1]:
import requests
import pandas as pd

### Worldwide Stats

In [2]:
# Convert an API JSON Response to a Python Dictionary

url = "https://disease.sh/v3/covid-19/all"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()

In [3]:
worldwide = pd.DataFrame.from_dict(data, orient='index')

In [4]:
worldwide = worldwide.T

In [5]:
worldwide

,updated,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,critical,casesPerOneMillion,...,tests,testsPerOneMillion,population,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion,affectedCountries
0,1.666634e+12,633001563.0,99521.0,6583273.0,377.0,612036719.0,288798.0,14381571.0,38418.0,81208.0,...,6.775200e+09,852769.89,7.944934e+09,0.0,0.0,0.0,1810.16,77034.84,4.84,230.0

In [6]:
file_name = 'data/worldwide.csv'

worldwide.to_csv(file_name, index=False)

### All Countries

In [7]:
url = 'https://disease.sh/v3/covid-19/countries'

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()

In [8]:
# Convert a list of dictionaries using json_normalize().
allcountries=pd.json_normalize(data)

In [9]:
allcountries.head()

,updated,country,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,critical,...,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion,countryInfo._id,countryInfo.iso2,countryInfo.iso3,countryInfo.lat,countryInfo.long,countryInfo.flag
0,1666634403118,Afghanistan,202199,50,7818,0,180190,18,14191,1124,...,36,348.21,4421.36,27.58,4.0,AF,AFG,33.0,65.0,https://disease.sh/assets/img/flags/af.png
1,1666634403008,Albania,332772,0,3591,0,327594,0,1587,0,...,1,553.66,114288.64,0.00,8.0,AL,ALB,41.0,20.0,https://disease.sh/assets/img/flags/al.png
2,1666634403013,Algeria,270783,0,6881,0,182387,0,81515,0,...,196,1797.46,4021.75,0.00,12.0,DZ,DZA,28.0,3.0,https://disease.sh/assets/img/flags/dz.png
3,1666634403223,Andorra,46449,0,155,0,46151,0,143,14,...,0,1846.04,595781.21,180.73,20.0,AD,AND,42.5,1.6,https://disease.sh/assets/img/flags/ad.png
4,1666634403137,Angola,103131,0,1917,0,101155,0,59,0,...,23,1.68,2887.89,0.00,24.0,AO,AGO,-12.5,18.5,https://disease.sh/assets/img/flags/ao.png

In [10]:
file_name = '//dallcountries.csv'

allcountries.to_csv(file_name, index=False)

### All US States

In [11]:
url = 'https://disease.sh/v3/covid-19/states'

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()

In [12]:
# Convert a list of dictionaries using json_normalize().
states=pd.json_normalize(data)

In [13]:
states.head()

,state,updated,cases,todayCases,deaths,todayDeaths,recovered,active,casesPerOneMillion,deathsPerOneMillion,tests,testsPerOneMillion,population
0,California,1666633771129,11337474,0,96874,0,0,175631,286936,2452,187393121,4742662,39512223
1,Texas,1666633771129,7989735,0,91584,0,0,62536,275547,3159,72733896,2508422,28995881
2,Florida,1666633771129,7189354,0,82065,0,0,39214,334735,3821,63551057,2958927,21477737
3,New York,1666633771129,6388383,0,72860,0,0,48723,328391,3745,121126929,6226466,19453561
4,Illinois,1666633771129,3796038,0,39899,0,0,57385,299565,3149,57898053,4569040,12671821

In [14]:
file_name = 'data/states.csv'

states.to_csv(file_name, index=False)

### Vaccine Coverage

In [15]:
url = 'https://disease.sh/v3/covid-19/vaccine/coverage/countries?lastdays=1&fullData=false'

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()

In [16]:
# Convert a list of dictionaries using json_normalize().
vac = pd.json_normalize(data)

In [18]:
vac.head()

       country  timeline.10/24/22
0  Afghanistan           11977773
1      Albania            2991576
2      Algeria           15267442
3      Andorra             154320
4       Angola           22696229

In [19]:
file_name = 'data/vacallcountries.csv'

vac.to_csv(file_name, index=False)

### Vaccine Coverage US States

In [20]:
url = 'https://disease.sh/v3/covid-19/vaccine/coverage/states?lastdays=1&fullData=False'

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)
data = response.json()

In [21]:
# Convert a list of dictionaries using json_normalize().
USvac = pd.json_normalize(data)

In [22]:
USvac.head()

            state  timeline.10/24/22
0         Alabama            6671583
1          Alaska            1253333
2  American Samoa             114484
3         Arizona           13468387
4        Arkansas            4610829

In [24]:
file_name = 'data/vacstates.csv'

USvac.to_csv(file_name, index=False)